<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Order form</title>
</head>
<body>
    <h1>Order Some Pizza</h1>
    <p>Please enter two toppings:</p>

    <form action="/order-pizza" method="POST">
        <label for="topping1">Topping 1</label>
        <input id="topping1" name="topping1">
        <br>
        <label for="topping2">Topping 2</label>
        <input id='topping2' name='topping2'>
        <br>
        <input type="submit">
    </form>
</body>
</html>